h1 {
    font-family:verdana;
}
html{
    background-color: #91918e;
    border-style: solid; 
    border-color: #171717;
    border-bottom-width: 2px;
    border-top-width: 2px;
    border-left-width: 2px;
    border-right-width: 2px;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 5%;
    margin-left: 5%;
}
nav{
    background-color: #55aaff; 
    border-radius: 4px;
    border-style: solid; 
    border-color: #171717;
    border-bottom-width: 4px;
    border-top-width: 4px;
    border-left-width: 2px;
    border-right-width: 2px;    
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
nav a{
    color: black;
    flex: 1 1 0;
    display:block;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    border-style: solid; 
    border-color: #171717;
    border-bottom-width: 0px;
    border-top-width: 0px;
    border-left-width: 2px;
    border-right-width: 2px;
    font-weight: bold;    
    text-decoration: none;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  p {
    font-size: large;
  }
